html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: #505050;
  font-size: 25px;
  font-weight: normal;
  text-decoration: underline;
}

a:hover {
  color: #b4b4b4;
}