{% extends "bootstrap/base.html" %}
{% block title %} Data Painting Mother {% endblock title %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.14.2/matter.min.js"
  integrity="sha512-pi0tSRZdlNRZeANPwdAIHRAYg6gZZV6QlAiyHXn5TYqLzBKE9jlttO/QgYLMhISD6oNv2kPsVelx+n5nw0FqKA=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/loglevel/1.7.1/loglevel.min.js"></script>
<script>
  var logging = log.noConflict();
</script>
<script src={{ url_for('send_static', path='decomp.min.js' ) }}></script>
<script src={{ url_for('send_static', path='vertices_data.js' ) }}></script>
<script src={{ url_for('send_static', path='vertices_editor.js' ) }}></script>
<script src={{ url_for('send_static', path='interactive.js' ) }}></script>
<script src={{ url_for('send_static', path='utils.js' ) }}></script>
<script src={{ url_for('send_static', path='Particle.js' ) }}></script>
<script src={{ url_for('send_static', path='Origin.js' ) }}></script>
<script src={{ url_for('send_static', path='sketch.js' ) }}></script>
<link rel="shortcut icon" href={{ url_for('send_static', path='favicon.ico' ) }}>
<link rel="stylesheet" href={{ url_for('send_static', path='stylesheet.css' ) }}>
{% endblock head %}


{% block content %}
<div class="container" style="margin: 0px; padding: 0px">
  <!-- div element that will hold the canvas -->
  <div id="canvasHolder">
  </div>
</div>
{% endblock content %}